<!DOCTYPE HTML>
<HEAD>
    
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<TITLE>登录页面</TITLE>
<SCRIPT src="<?php echo STATIC_DOMAIN;?>/admin/login/js/jquery-1.9.1.min.js" type="text/javascript"></SCRIPT>
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_DOMAIN;?>/admin/login/css/login.css">

<SCRIPT type="text/javascript">
$(function(){
	//得到焦点
	$("#password").focus(function(){
		$("#left_hand").animate({
			left: "150",
			top: " -38"
		},{step: function(){
			if(parseInt($("#left_hand").css("left"))>140){
				$("#left_hand").attr("class","left_hand");
			}
		}}, 2000);
		$("#right_hand").animate({
			right: "-64",
			top: "-38px"
		},{step: function(){
			if(parseInt($("#right_hand").css("right"))> -70){
				$("#right_hand").attr("class","right_hand");
			}
		}}, 2000);
	});
	//失去焦点
	$("#password").blur(function(){
		$("#left_hand").attr("class","initial_left_hand");
		$("#left_hand").attr("style","left:100px;top:-12px;");
		$("#right_hand").attr("class","initial_right_hand");
		$("#right_hand").attr("style","right:-112px;top:-12px");
	});
});
</SCRIPT>

</HEAD> 

<BODY>
<DIV class="top_div"></DIV>
<DIV style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
<DIV style="width: 165px; height: 96px; position: absolute;">
<DIV class="tou"></DIV>
<DIV class="initial_left_hand" id="left_hand"></DIV>
<DIV class="initial_right_hand" id="right_hand"></DIV></DIV>
<P style="padding: 30px 0px 10px; position: relative;"><SPAN class="u_logo"></SPAN>         
	<INPUT class="ipt" id="username" type="text" placeholder="请输入用户名" value=""> 
</P>
<P style="position: relative;"><SPAN class="p_logo"></SPAN>         
	<INPUT class="ipt" id="password" type="password" placeholder="请输入密码" value="">   
 </P>
<DIV style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
<P style="margin: 0px 35px 20px 45px;"><SPAN style="float: left;"><A style="color: rgb(204, 204, 204);" href="#">忘记密码?</A></SPAN> 
   <SPAN style="float: right;"><A style="color: rgb(204, 204, 204); margin-right: 10px;" href="#">注册</A>  
      <A onclick="login()" style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;" href="#">登录</A> 
   </SPAN>
</P>
</DIV></DIV>

<div style="text-align:center;"></div>



<script type="text/javascript">
	function login(){

		var username = $('#username').val();
		var password = $('#password').val();

		$.ajax({

			url:'/login/login',
			type:'post',
			data:{'username':username,'password':password},
			success:function(data){
				var  obj = JSON.parse(data);
				if(obj.status==0){
					window.location.href="/login";
				}else{
                                    alert(obj.msg);
                                }
				
			}
		})

	}



</script>


</BODY>
</HTML>
