<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章管理 <span class="c-gray en">&gt;</span> 文章 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table class="table">
	<tr>
		<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
		<td class="va-t">
			<div class="pd-20">
				 
                            
                            <div class="text-c">
                                日期范围：
                                <input type="text" onfocus="WdatePicker({maxDate: '#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;">
                                -
                                <input type="text" onfocus="WdatePicker({minDate: '#F{$dp.$D(\'logmin\')}', maxDate: '%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;">
                                <button name="search" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
                            </div>
                            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onClick="article_addnew()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加资讯!</a></span> </div>
                            <div class="mt-20">
                                <table class="table table-border table-bordered table-bg table-hover table-sort">
                                    <thead>
                                        <tr class="text-c">
                                            <th width="25"><input type="checkbox" id="checkAll"></th>
                                            <th width="80">ID</th>
                                            <th>标题</th>
                                            <th width="80">分类</th>
                                            <th width="120">更新时间</th>
                                            <th width="60">发布状态</th>
                                            <th width="120">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-c">
                                        <!--
                                            <tr class="text-c">
                                                    <td><input type="checkbox" value="" name=""></td>
                                                    <td>10001</td>
                                                    <td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article-zhang.html','10001')" title="查看">资讯标题</u></td>
                                                    <td>行业动态</td>
                                                    <td>H-ui</td>
                                                    <td>2014-6-11 11:11:42</td>
                                                    <td>21212</td>
                                                    <td class="td-status"><span class="label label-success radius">已发布</span></td>
                                                    <td class="f-14 td-manage">
                                                        <a style="text-decoration:none" onClick="article_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> 
                                                        <a style="text-decoration:none" class="ml-5" onClick="article_edit('资讯编辑','article-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
                                                        <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                                            </tr>
                                            <tr class="text-c">
                                                    <td><input type="checkbox" value="" name=""></td>
                                                    <td>10002</td>
                                                    <td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article-zhang.html','10002')" title="查看">资讯标题</u></td>
                                                    <td>行业动态</td>
                                                    <td>H-ui</td>
                                                    <td>2014-6-11 11:11:42</td>
                                                    <td>21212</td>
                                                    <td class="td-status"><span class="label label-success radius">草稿</span></td>
                                                    <td class="f-14 td-manage">
                                                        <a style="text-decoration:none" onClick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a> 
                                                        <a style="text-decoration:none" class="ml-5" onClick="article_edit('资讯编辑','article-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
                                                        <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                                    </td>
                                            </tr>
                                        -->
                                    </tbody>
                                </table>

                            </div>
                            
			</div>
		</td>
	</tr>
</table>

<link rel="stylesheet" href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>

<script type="text/javascript">
       cateid = 0;
       catename ='';
       table =  $('.table-sort').dataTable({
            "processing": true,
            "serverSide": true,
           "pagingType":   "full_numbers",
            ajax: {
                url: '/admin/article/article_list',
                data: function ( d ) {
                   //添加额外的参数传给服务器
                    d.time_start = $('#logmin').val();
                   d.time_end = $('#logmax').val();
                   d.catid = cateid;
               },
                dataType: 'json',
            },
            columns: [
                {"data": null},
                {"data": "id"},
                {"data": null,'class':'text-l'},
                {"data": "catname"},
                {"data": "updatetime"},
                {"data": "status",'class':'td-status'},
                {"data": null,'class':'f-14 td-manage'},
            ],
            "columnDefs": [//自定义列
                {
                    "targets": 0, //第一列
                    "data": "id",
                    "render": function (data, type, row) {
                        var html = '<input type="checkbox" value="'+row.id+'" name="id[]">';
                        return html;
                    }
                },
                {
                    "targets": 2, 
                    "data": "title",
                    "render": function (data, type, row) {
                        var html = '<u style="cursor:pointer" class="text-primary" onClick="article_edit(this,'+row.id+')" title="查看">'+row.title+'</u>';
                        return html;
                    }
                },
                {
                    "targets": 3, 
                    "data": "catname",
                    "render": function (data, type, row) {
                        var html = '<span>'+row.catname+'</span>';
                        return html;
                    }
                },
                 {
                    "targets": 4, 
                    "data": "updatetime",
                    "render": function (data, type, row) {
                        var html = "<span >"+getLocalTime(row.updatetime)+"</span>";
                        return html;
                    }
                },
                {
                    "targets": 5, 
                    "data": "status",
                    "render": function (data, type, row) {
                        if(row.status == 1){//已经上架
                            var html = "<span class='label label-success radius'>已发布</span>";
                        }else if(row.status == 0){//已经下架
                             var html = "<span class='label label-defaunt radius'>已下架</span>";
                        }
                        return html;
                    }
                },
                {
                    "targets": -1, //最后一列
                    "data": "status",
                    "render": function (data, type, row) {
                        if(row.status ==1){//已经上架
                            var html = '<a style="text-decoration:none" onClick="article_stop(this,'+row.id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>';
                        }else if(row.status ==0){//已经下架
                            var html ='<a style="text-decoration:none" onClick="article_start(this,'+row.id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>';
                        }
                            html+='<a style="text-decoration:none" class="ml-5" onClick="article_edit(this,'+row.id+')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>';
                            html+='<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'+row.id+')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
                        return html;
                    }
                },
            ],
        });
    
    $("#search").click(function(){ 
        table.fnDraw();
    });
    
    function show_article() {
        table.fnDraw();
    }
 
 
        $(function(){
                auto_ztree();
        });

        function auto_ztree(){
                var zNodes = null;
                $.ajax({
                        url:'/admin/article/categoryList',
                        type:'get',
                        datatype:'json',
                        async:false, 
                        success:function(data){
                                zNodes = JSON.parse(data);
                        }
                })
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        }
    

        var setting = {
                view: {
                        dblClickExpand: true,
                        showLine: true,
                        selectedMulti: false
                },
                data: {
                        key: {
                                title:"des"
                        },
                        simpleData: {
                                enable:true,
                                idKey: "id",
                                pIdKey: "parent_id",
                                rootPId: ""
                        }
                },
                edit: {
                        enable: true,
                        showRenameBtn:false,
                        showRemoveBtn:false
                },
                callback: {
                        beforeClick: beforeClick,
                        onClick: onClick,
                        beforeRemove: BeforeRemove,
                        onRemove: OnRemove
                }

        };
		function beforeClick(treeId, treeNode, clickFlag) {
			return true;
		}

		function onClick(event, treeId, treeNode, clickFlag) {
                    if(treeNode.children == undefined){//没有子节点
                        cateid = treeNode.id;
                        catename = treeNode.name;
                        show_article();
                    }
		}

		function BeforeRemove(treeId, treeNode) {
			return false;
		}
		function OnRemove(event, treeId, treeNode) {
			alert(treeNode.id + ", " + treeNode.name);
		}

    

    //批量删除
    function datadel(){
            var str = '';
            $("input[name='id[]']:checked").each(function (i, o) {
                str += $(this).val();
                str += ",";
            });
            if (str.length > 0) {
                var IDS = str.substr(0, str.length - 1);
                //alert("你要删除的数据集id为" + IDS);
                $("input[name='id[]']:checked").each(function (i, o) {
                     $(this).parents('.odd').remove();
                     $(this).parents('.even').remove();
                })
                
                $.ajax({
                    url:'/admin/article/article_del',
                    type:'post',
                    data:{'id':IDS},
                    dataType:'json',
                    success:function(data){
                        
                        if(data.status == 200){
                            //$(obj).parents("tr").remove();
                          //layer.msg('已经删除!', 1);
                          layer.msg(data.msg, {icon: 1, time: 1000});

                        }else{
                            layer.msg(data.msg, {icon: 5, time: 1000});
                        }
                    }
                })

            } else {
                 layer.msg('至少选择一条记录操作', {icon: 5, time: 1000});
            }
    }

    /*资讯-新增*/
    function article_addnew() {
        if(cateid<=0){
            layer.msg('选择左边一个分类操作', {icon: 5, time: 1000});
            return false;
        }
        var url ='/admin/article/articleAdd/cateid/'+cateid;
        var index = layer.open({
            type: 2,
            title: '新增资讯:'+catename,
            content: url
        });
        layer.full(index);
    }
    /*资讯-编辑*/
    function article_edit(obj,id) {
        var url ='/admin/article/articleEdit/id/'+id+'/cateid/'+cateid;
        var index = layer.open({
            type: 2,
            title: '编辑资讯:'+catename,
            content: url,
        });
        layer.full(index);
    }
    
    /*资讯-删除*/
    function article_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
             $(obj).parents('.odd').remove();
              $(obj).parents('.even').remove();
            $.ajax({
                url:'/admin/article/article_del',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if(data.status == 200){
                      
                      layer.msg(data.msg, {icon: 6, time: 1000});
                    }else{
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                }
            })
            
        });
    }

    /*资讯-下架*/
    function article_stop(obj, id) {
        layer.confirm('确认要下架吗？', function (index) {
            
            $.ajax({
                url:'/admin/article/article_stop',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if(data.status == 200){
                        $(obj).parents(".odd").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).parents(".odd").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                        $(obj).remove();
                        layer.msg('已下架!', {icon: 5, time: 1000});
                    }else{
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                }
            })
            

        });
    }

    /*资讯-发布*/
    function article_start(obj, id) {
        layer.confirm('确认要发布吗？', function (index) {
            
            $.ajax({
                url:'/admin/article/article_start',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if(data.status == 200){
                       $(obj).parents(".odd").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                       $(obj).parents(".odd").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                       $(obj).remove();
                       layer.msg('已发布!', {icon: 6, time: 1000});
                    }else{
                        layer.msg(data.msg, {icon: 6, time: 1000});
                    }
                }
            })
            
        });
    }

</script> 

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>