<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">	
    <title>首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all" />
    <meta name="author" content="goyaf.com" />
    <meta name="keywords" content="php,yaf,yaf框架,goyaf,goyaf框架">
    <meta name="description" content="goyaf框架是在yaf框架的基础上完善的一个框架">
    <link rel="stylesheet" href="<?php echo STATIC_DOMAIN.'/web/css/style.css'?>">
    <script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/web/js/jquery.min.js"></script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?60302958941650947d408e98510f60c0";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>   
</head>
<body>