<?php include(dirname(dirname(__FILE__))) . '/common/header.phtml'; ?>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="<?php echo SERVER_DOMAIN ?>/admin/index">首页</a> <span class="c-gray en">&gt;</span> 系统设置 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">


        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl"><span>基本设置</span><span>联系设置</span><span>安全设置</span><span>邮件设置</span><span>其他设置</span></div>
 
            <div class="tabCon">
                <form action="<?php echo SERVER_DOMAIN;?>/admin/setting/settinPostOne" method="post" class="form form-horizontal" id="form-article-add_one">
		<div class="row cl">
			<label class="form-label col-2">网站主LOGO：</label>
			<div class="formControls col-10">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
                                            <img id="img_one" style="width:180px;height: 100px;" name="img_one" src="<?php echo @$res['site_logo_zhu']?>" alt="等待上传图片">
                                            <input type="hidden" datatype="*" nullmsg="网站主LOGO" id="file_img_one" name="file_img_one" value="<?php echo @$res['site_logo_zhu']?>"/>
					</div>
                                        <input type="file" id="filePicker_one" class="" onchange="readFile(this,'img_one','file_img_one')" />
				</div>
			</div>
		</div>
                    
		<div class="row cl">
			<label class="form-label col-2">网站副LOGO：</label>
			<div class="formControls col-10">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
                                            <img id="img_two" style="width:180px;height: 100px;" name="img_two" src="<?php echo @$res['site_logo_fu']?>" alt="等待上传图片">
                                            <input type="hidden" datatype="*" nullmsg="请上传网站副LOGO" id="file_img_two" name="file_img_two" value="<?php echo @$res['site_logo_fu']?>"/>
					</div>
                                        <input type="file" id="filePicker_two" class="" onchange="readFile(this,'img_two','file_img_two')" />
				</div>
			</div>
		</div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>网站名称：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符" name="website_name" value="<?php echo @$res['webname']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>网站标题：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符" name="website_title"  value="<?php echo @$res['site_web_title']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>关键词：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符,用英文,隔开" name="website_Keywords"  value="<?php echo @$res['keyword']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                                <label class="form-label col-2">网站描述：</label>
                                <div class="formControls col-10">
                                    <textarea name="website_des" cols="" rows=""  class="textarea"  placeholder="说点什么...最少输入4个字符" datatype="*4-200" errormsg="说点什么...最少输入4个字符" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"><?php echo @$res['description'];?></textarea>
                                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
                                </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>网站版权：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*5-50" errormsg="5~50个字符" placeholder="5~50个字符" name="website_static"  value="<?php echo @$res['site_web_copyright']?>" class="input-text">
                            </div>
                        </div>
                    
                        <div class="row cl">
                                <label class="form-label col-2">统计代码：</label>
                                <div class="formControls col-10">
                                    <textarea name="website_code" cols="" rows=""  class="textarea"  placeholder="说点什么..." datatype="*" errormsg="说点什么..." dragonfly="true" nullmsg="不能为空！"><?php echo @$res['site_statistical_code'];?></textarea>
                                </div>
                        </div>
                    
                        <div class="row cl">
                            <label class="form-label col-2">备案号：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="备案号" placeholder="备案号" name="website_icp"  value="<?php echo @$res['site_web_icp']?>" class="input-text">
                            </div>
                        </div>
                    <div class="row cl">
                        <div class="col-10 col-offset-2">
                            <button id="save_submit_one" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="tabCon">
                <form action="<?php echo SERVER_DOMAIN;?>/admin/setting/settinPostTwo" method="post" class="form form-horizontal" id="form-article-add_two">
		
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>新浪微博：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符" name="xinlang" value="<?php echo @$res['xinlang']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>腾讯微博：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符" name="tengxun"  value="<?php echo @$res['tengxun']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                                <label class="form-label col-2">微信公众号：</label>
                                <div class="formControls col-10">
                                        <div class="uploader-thum-container">
                                                <div id="fileList" class="uploader-list">
                                                    <img id="img_weixin" style="width:180px;height: 180px;" name="img_weixin" src="<?php echo @$res['weixin_logo']?>" alt="等待上传图片">
                                                    <input type="hidden" datatype="*" nullmsg="微信公众号" id="file_img_weixin" name="file_img_weixin" value="<?php echo @$res['weixin_logo']?>"/>
                                                </div>
                                                <input type="file" id="filePicker_img_weixin" class="" onchange="readFile(this,'img_weixin','file_img_weixin')" />
                                        </div>
                                </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2"><span class="c-red">*</span>买家客服QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*4-50" errormsg="4~50个字符" placeholder="4~50个字符" name="site_contact_qq1"  value="<?php echo @$res['site_contact_qq1']?>" class="input-text">
                            </div>
                        </div>
                    
                        <div class="row cl">
                            <label class="form-label col-2">商家咨询QQ 	：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="商家咨询QQ 	" placeholder="商家咨询QQ " name="site_contact_qq1"  value="<?php echo @$res['site_contact_qq1']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">举报投诉QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="举报投诉QQ" placeholder="举报投诉QQ" name="site_complain_qq"  value="<?php echo @$res['site_complain_qq']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">合作洽谈QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="合作洽谈QQ" placeholder="合作洽谈QQ" name="site_collaborate_qq"  value="<?php echo @$res['site_collaborate_qq']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">举报投诉QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="举报投诉QQ" placeholder="举报投诉QQ" name="site_consult_qq"  value="<?php echo @$res['site_consult_qq']?>" class="input-text">
                            </div>
                        </div>
                       <div class="row cl">
                            <label class="form-label col-2">合作洽谈QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="合作洽谈QQ" placeholder="合作洽谈QQ" name="site_collaborate_qq"  value="<?php echo @$res['site_collaborate_qq']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">售后咨询QQ：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="备案号" placeholder="备案号" name="site_service_qq"  value="<?php echo @$res['site_service_qq']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">联系电话：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="联系电话" placeholder="联系电话" name="site_contact_tel"  value="<?php echo @$res['site_contact_tel']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">联系邮箱：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="联系邮箱" placeholder="联系邮箱" name="site_contact_email"  value="<?php echo @$res['site_contact_email']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">邮编：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="邮编" placeholder="邮编" name="site_contact_zipcode"  value="<?php echo @$res['site_contact_zipcode']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">所在省市：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="所在省市" placeholder="所在省市" name="site_contact_city"  value="<?php echo @$res['site_contact_city']?>" class="input-text">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-2">工作日：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="工作日" placeholder="工作日" name="site_work_day"  value="<?php echo @$res['site_work_day']?>" class="input-text">
                            </div>
                        </div>
                    
                         <div class="row cl">
                            <label class="form-label col-2">详细地址：</label>
                            <div class="formControls col-10">
                                <input type="text" datatype="*" errormsg="详细地址" placeholder="详细地址" name="site_contact_address"  value="<?php echo @$res['site_contact_address']?>" class="input-text">
                            </div>
                        </div>
                    
                        <div class="row cl">
                                <label class="form-label col-2">地图标识：</label>
                                <div class="formControls col-10">
                                        <div class="uploader-thum-container">
                                                <div id="fileList" class="uploader-list">
                                                    <img id="img_map" style="width:180px;height: 180px;" name="img_map" src="<?php echo @$res['site_map_image']?>" alt="等待上传图片">
                                                    <input type="hidden" datatype="*" nullmsg="地图标识" id="file_img_map" name="file_img_map" value="<?php echo @$res['site_map_image']?>"/>
                                                </div>
                                                <input type="file" id="filePicker_img_map" class="" onchange="readFile(this,'img_map','file_img_map')" />
                                        </div>
                                </div>
                        </div>
                    
                    <div class="row cl">
                        <div class="col-10 col-offset-2">
                            <button id="save_submit_two" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
            
            
            
            <div class="tabCon">
                <form action="<?php echo SERVER_DOMAIN;?>/admin/setting/settinPost" method="post" class="form form-horizontal" id="form-article-add">
                <div class="row cl">
                    <label class="form-label col-2">允许访问后台的IP列表：</label>
                    <div class="formControls col-10">
                        <textarea class="textarea"></textarea>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-2">后台登录失败最大次数：</label>
                    <div class="formControls col-10">
                        <input type="text" id="" value="5" class="input-text">
                    </div>
                </div>
                    <div class="row cl">
                        <div class="col-10 col-offset-2">
                            <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
            
            
            
            <div class="tabCon">
                <form action="<?php echo SERVER_DOMAIN;?>/admin/setting/settinPost" method="post" class="form form-horizontal" id="form-article-add">
                    <div class="row cl">
                        <label class="form-label col-2">邮件发送模式：</label>
                        <div class="formControls col-10">
                            <input type="text" id="" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-2">SMTP服务器：</label>
                        <div class="formControls col-10">
                            <input type="text" id="" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-2">SMTP 端口：</label>
                        <div class="formControls col-10">
                            <input type="text" id="" value="25" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-2">邮箱帐号：</label>
                        <div class="formControls col-10">
                            <input type="text" id="email-name" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-2">邮箱密码：</label>
                        <div class="formControls col-10">
                            <input type="password" id="email-password" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-2">收件邮箱地址：</label>
                        <div class="formControls col-10">
                            <input type="text" id="email-address" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-10 col-offset-2">
                            <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="tabCon">

            </div>
        </div>


</div>
</div>

<script type="text/javascript">
$(function(){
	$.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
});

//html5上传图片    
function readFile(obj,img,file_img){
        var file = obj.files[0]; 	
        //判断类型是不是图片
        if(!/image\/\w+/.test(file.type)){   
                alert("请确保文件为图像类型"); 
                return false; 
        } 
        var reader = new FileReader(); 
        reader.readAsDataURL(file); 
        reader.onload = function(e){ 
        	$('#'+img).attr('src',this.result);
                $('#'+file_img).val(this.result);
        } 
}  


$('#save_submit_one').click(function(){
    save('form-article-add_one');
})

$('#save_submit_two').click(function(){
    save('form-article-add_two');
})

function  save(fromid){
    
    var demo = $("#"+fromid).Validform({
        callback:function(data){
			if(data.status==200){
				setTimeout(function(){
					$.Hidemsg();
                    window.location.href="/admin/setting";
				},2000);
			}else{
                $.Showmsg(data.msg);
            }
	}
    });
    
    demo.ajaxPost();
    
}



</script>

<?php include(dirname(dirname(__FILE__))) . '/common/footer.phtml'; ?>