<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>

<div class="pd-20" style="padding-top:20px;">
  <p class="f-20 text-success">欢迎使用GOYAF <span class="f-14">v1.0</span>后台！</p>
  <p>登录次数：<?php echo $res['count'];?> </p>
  <p>上次登录IP：<?php echo $res['last_ip'];?>  上次登录时间：<?php echo $res['last_time'];?>  上次登录账户：<?php echo $res['account'];?></p>
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr>
        <th colspan="7" scope="col">信息统计</th>
      </tr>
      <tr class="text-c">
        <th>统计</th>
        <th>资讯库</th>
        <th>图片库</th>
        <th>产品库</th>
        <th>用户</th>
        <th>管理员</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-c">
        <td>总数</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>今日</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>昨日</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>本周</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>本月</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-border table-bordered table-bg mt-20">
    <thead>
      <tr>
        <th colspan="2" scope="col">服务器信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th width="200">服务器IP</th>
        <td><span id="lbServerName"><?php echo $_SERVER['SERVER_ADDR']?></span></td>
      </tr>
      <tr>
        <td>服务器域名</td>
        <td><?php echo $_SERVER['SERVER_NAME']?></td>
      </tr>
      <tr>
        <td>服务器端口 </td>
        <td><?php echo $_SERVER['SERVER_PORT']?></td>
      </tr>
      <tr>
        <td>服务器版本 </td>
        <td><?php echo $_SERVER['SERVER_SOFTWARE']?></td>
      </tr>
      <tr>
        <td>当前IP地址</td>
        <td><?php echo $_SERVER['REMOTE_ADDR']?></td>
      </tr>
      <tr>
        <td>脚本执行时间 </td>
        <td><?php echo ini_get("max_execution_time")?>秒</td>
      </tr>
      <tr>
        <td>脚本解析时间 </td>
        <td><?php echo ini_get("max_input_time")?>秒</td>
      </tr>
      <tr>
        <td>开启错误</td>
        <td><?php echo ini_get("display_errors")?></td>
      </tr>
      <tr>
        <td>记录错误</td>
        <td><?php echo ini_get("log_errors")?></td>
      </tr>
      <tr>
        <td>错误日志路径 </td>
        <td><?php echo ini_get("error_log")?></td>
      </tr>
      <tr>
        <td>最大POST数据字节 </td>
        <td><?php echo ini_get("post_max_size")?></td>
      </tr>
      <tr>
        <td>允许上传文件 </td>
        <td><?php echo ini_get("file_uploads")?></td>
      </tr>
      <tr>
        <td>最大上传文件 </td>
        <td><?php echo ini_get("upload_max_filesize")?></td>
      </tr>
      <tr>
        <td>运行最大内存 </td>
        <td><?php echo ini_get("memory_limit")?></td>
      </tr>
      <tr>
        <td>PHP版本 </td>
        <td><?php echo PHP_VERSION;?></td>
      </tr>
      <tr>
        <td>服务器当前时间 </td>
        <td><?php echo date('Y-m-d H;i:s',time());?></td>
      </tr>
       <tr>
        <td>扩展路径 </td>
        <td><?php echo ini_get("extension_dir");?></td>
      </tr>
       <tr>
        <td>默认编码 </td>
        <td><?php echo ini_get("default_charset");?></td>
      </tr>
    </tbody>
  </table>
</div>
<footer class="footer">
  <p>©<?php echo date('Y',time());?> GOYAF 苏ICP备15026240号</p>
</footer>

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>