<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>
<div class="pd-20">
    <form action="<?php echo SERVER_DOMAIN;?>/admin/say/sayPost" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" value="<?php echo isset($res['id'])?$res['id']:0;?>"/>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-10">
                            <input type="text" class="input-text" value="<?php echo @$res['title']?>" datatype="*5-50" errormsg="文章标题5~50个字符" placeholder="文章标题5~50个字符"  name="title" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2">文章摘要：</label>
			<div class="formControls col-10">
                            <textarea name="article_des" cols="" rows=""  class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-200" errormsg="说点什么...最少输入10个字符" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"><?php echo @$res['description'];?></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
                    	<label class="form-label col-2">排序值：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" datatype="n" nullmsg="请输入排序值" value="<?php echo isset($res['listorder'])?$res['listorder']:0;?>" placeholder="数字越小越靠前,最小0"  name="sort">
			</div>
			<label class="form-label col-2">首页显示：</label>
			<div class="formControls col-2 skin-minimal">
				<select name="review" id ="review" class="select">
                                        <option value="0" <?php if(!isset($res['shows_index']) || @$res['shows_index'] == 0){echo 'selected';} ?>>不显示</option>
					<option value="1" <?php if(@$res['shows_index'] == 1){echo 'selected';} ?>>显示</option>
				</select>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-2">缩略图：</label>
			<div class="formControls col-10">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
                                            <img id="img" style="width:180px;height: 100px;" name="img" src="<?php echo @$res['thumb']?>" alt="等待上传图片">
                                            <input type="hidden" datatype="*" nullmsg="请上传缩略图" id="file_img" name="file_img" value="<?php echo @$res['thumb']?>"/>
					</div>
                                        <input type="file" id="filePicker" class="" onchange="readFile(this)" />
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2">文章内容：</label>
			<div class="formControls col-10"> 
				<script id="editor"  type="text/plain"  name="content" style="width:100%;height:400px;"><?php echo @stripslashes($res['content'])?></script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button id="article_save_submit" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</div>

<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/themes/default/css/umeditor.css" type="text/css" rel="stylesheet"><!--编辑器插件-->
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/umeditor.config.js"></script><!--编辑器插件-->
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/umeditor.min.js"></script><!--编辑器插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/lang/zh-cn/zh-cn.js"></script><!--编辑器插件-->

<script type="text/javascript">

//html5上传图片    
function readFile(obj){
        var file = obj.files[0]; 	
        //判断类型是不是图片
        if(!/image\/\w+/.test(file.type)){   
                alert("请确保文件为图像类型"); 
                return false; 
        } 
        var reader = new FileReader(); 
        reader.readAsDataURL(file); 
        reader.onload = function(e){ 
        	$('#img').attr('src',this.result);
                $('#file_img').val(this.result);
        } 
}  
    

    $(function(){
        //编辑器使用    
            var um = UM.getEditor('editor');
        //编辑器是否为空
    });
    //编辑器是否为空
    function hasContent() {
        var info = UM.getEditor('editor').hasContents();
        return info;
    }


$('#article_save_submit').click(function(){
    save();
})

function  save(){
    
    var content_info = hasContent();
    if(content_info == false){
        layer.alert('文章内容不能为空!');
        return false;
    }
    
    var demo = $("#form-article-add").Validform({
        callback:function(data){
			if(data.status==200){
				setTimeout(function(){
					$.Hidemsg();
                    window.location.href="/admin/say";
				},2000);
			}else{
                $.Showmsg(data.msg);
            }
	}
    });
    
    demo.ajaxPost();
    
}


</script>

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>