<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品分类 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table class="table">
	<tr>
		<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
		<td class="va-t">
			<div class="pd-20">
				  <form action="<?php echo SERVER_DOMAIN;?>/admin/product/categoryPost" method="post" class="form form-horizontal" id="form-category-add">
				  		<input id="id" name ="id" type="hidden"  value="" />
				  		<input id="status" name ="status" type="hidden"  value="" />
					    <div class="row cl">
					      <label class="form-label col-2"><span class="c-red">*</span>分类名称：</label>
					      <div class="formControls col-5">
					        <input type="text" class="input-text" value="" placeholder="最少输入1个到10个字符" id="category_name" name="name" datatype="*1-10">
					      </div>
					      <div class="col-5"> </div>
					    </div>
					    <div class="row cl">
					      <label class="form-label col-2"><span class="c-red"></span>排序：</label>
					      <div class="formControls col-5">
					        <input type="text" class="input-text" value="" placeholder="大于0的数字" id="category_sort" name="sort" datatype="n">
					      </div>
					      <div class="col-5"> </div>
					    </div>

					    <div class="row cl">
					      <label class="form-label col-2">备注：</label>
					      <div class="formControls col-5">
					        <textarea  id="category_des" name="des" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入1个字符" datatype="*1-20" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,10)"></textarea>
					        <p class="textarea-numberbar"><em class="textarea-length">0</em>/20</p>
					      </div>
					      <div class="col-5"> </div>
					    </div>
					    <div class="row cl">
					      <div class="col-9 col-offset-2">
					        <input class="btn btn-primary radius" id = "save" type="button" value="&nbsp;&nbsp;保存修改&nbsp;&nbsp;">
					        <input class="btn btn-primary radius" id = "save_root" type="button" value="&nbsp;&nbsp;增加根分类&nbsp;&nbsp;">
					        <input class="btn btn-primary radius" id = "save_child" type="button" value="&nbsp;&nbsp;增加子分类&nbsp;&nbsp;">
					      </div>
					    </div>
				  </form>
			</div>
		</td>
	</tr>
</table>

<link rel="stylesheet" href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>


<script type="text/javascript">
var setting = {
	view: {
		dblClickExpand: true,
		showLine: true,
		selectedMulti: false
	},
	data: {
		key: {
			title:"des"
		},
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "parent_id",
			rootPId: ""
		}
	},
	edit: {
		enable: true,
		showRenameBtn:false
	},
	callback: {
		beforeClick: beforeClick,
		onClick: onClick,
		beforeRemove: BeforeRemove,
		onRemove: OnRemove

	}

};


		function beforeClick(treeId, treeNode, clickFlag) {
			return true;
		}

		function onClick(event, treeId, treeNode, clickFlag) {
			$('#id').val(treeNode.id);
			$('#category_name').val(treeNode.name);
			$('#category_sort').val(treeNode.sort);
			$('#category_des').val(treeNode.des);
		}

		function BeforeRemove(treeId, treeNode) {
			return false;
		}
		function OnRemove(event, treeId, treeNode) {
			alert(treeNode.id + ", " + treeNode.name);
		}

	
$(function(){
	auto_ztree();
});

function auto_ztree(){
		var zNodes = null;
	$.ajax({
		url:'/admin/product/categoryList',
		type:'get',
		datatype:'json',
		async:false, 
		success:function(data){
			zNodes = JSON.parse(data);
		}
	})
	$.fn.zTree.init($("#treeDemo"), setting, zNodes);
}

$('#save_root').click(function(){
	var value='';
	$('#id').val(value);
	save();
})

$('#save_child').click(function(){
	if($('#id').val()=='' || $('#id').val()<=0){
		layer.alert('请选择要添加的左侧根分类');
		return false;
	}
	$('#status').val(1);
	save();
})


$('#save').click(function(){
    save();
})

function  save(){
    
    var demo = $("#form-category-add").Validform({
        callback:function(data){
			if(data.status == 200){
				$.Hidemsg();
				auto_ztree();
			}else{
                $.Showmsg(data.msg);
            }
		}

    });
    
    demo.ajaxPost();
    
}

</script>


<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>