<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="author" content="baichi">
<meta name="viewport" content="width = device-width,initial-scale = 1.0,minimum-scale = 1.0,maximum-scale = 1.0,user-scalable = no"/>
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>分享页面-移动端-白吃</title>
<link rel="stylesheet" href="<?php echo STATIC_DOMAIN;?>/web/share/css/baichi_common_m.css">
<script src="<?php echo STATIC_DOMAIN;?>/web/share/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var deviceWidth = document.documentElement.clientWidth;
    if(deviceWidth > 750) deviceWidth = 750;
    document.documentElement.style.fontSize = deviceWidth/ 6.4 + 'px';

});

function alert_box(str){
    $(".alert-box box p").text(str);
    $(".alert-box box").show();
    var t = setTimeout(function(){$(".alert-box box").hide()},1800);
}
</script>
</head>
<body>
<div class="main">
    <div class="item-image-box box">
        <img src="<?php echo STATIC_DOMAIN;?>/web/share/img/item_image.png">
    </div>
    <div class="inner-main">
        <div class="item-title-box box">
            <h1>日本进口零食品 Jagabee卡乐比薯条三兄弟盒装90g黄油芝士味</h1>
        </div>
        <div class="item-price-box box">
            <span class="market-price">市场价：￥39.99</span>
            <span class="cur-price">￥17.00</span>
            <span class="baichi-promotion">白吃专享价</span>
        </div>
        <div class="garentee-box box">
            <span class="rmb-icon"></span>
            <span class="garentee-info">17.00*999=16983元白吃金已冻结，请放心白吃！</span>
        </div>
        <div class="dash-line"></div>
        <div class="detail-box box">
            <p>Jagabee和薯条三兄弟是一家的，是三兄弟的平价版，有很多口味可以选择，名声可是整个亚洲区都震震荡荡！看看有多少日本女星被它征服，你就知道它有多好吃了。卡乐比薯条原料采用北海道产的土豆，吃起来口感松脆，营养健康，不失为一款营养休闲类产品，而且不含防腐剂。在日本常售空。
            </p>
        </div>
        <div class="volume-box box">
            <span class="sales-volume">月销量：29999份</span>
            <span class="cur-volume">剩余：<b>678</b>/999份</span>
        </div>
        <div class="dash-line"></div>    
        <div class="brand-box box">
            <span class="brand-icon" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/brand_icon.png)"></span>
            <strong class="brand-name">Jagabee专营店</strong>
            <span class="start-time">2015-12-12</span>
            <span class="start-time">12:00:00</span>
            <span class="start-time">发起</span>
        </div>    
        <div class="time-box box">
            <div class="time-inner-box box">
                <span>
                    剩余
                    <strong>3</strong>
                    天
                    <strong>23</strong>
                    :
                    <strong>49</strong>
                    :
                    <strong>32</strong>
                    结束
                </span>
            </div>
        </div>
        <div class="baichi-user-title-box box">
            <h2>一大波（<b>128</b>位）白吃正在袭来</h2>
        </div>
        <div class="baichi-avatar-title-box box">
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/user_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <span class="user-avatar" style="background-image:url(<?php echo STATIC_DOMAIN;?>/web/share/img/default_avatar.png)"></span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="show-rule-box box">
        <span>白吃玩法</span>
        <a class="show-baichi-rule">查看详情&gt;</a>
    </div>    
    <div class="procedure-box box">
        <span class="procedure-number">1</span>
        <div class="procedure-block">
            <p>拼人品得</p>
            <p>白吃资格</p>
        </div>
        <span class="procedure-number">2</span>
        <div class="procedure-block">
            <p>原价购买</p>
            <p>反馈单号</p>
        </div>
        <span class="procedure-number">3</span>
        <div class="procedure-block">
            <p>反馈体验</p>
            <p>直接返现</p>
        </div>
        <span class="procedure-number">4</span>
        <div class="procedure-block">
            <p>提现</p>
        </div>                    
    </div>
    <div class="buy-box box">
        <a class="buy-button">专享价购买</a>
        <a class="baichi-button">拼人品，抢白吃</a>
    </div>    
</div>

<div class="alert-box box" style="display:none">
    <p>登陆成功</p>
</div>

    
    <script>
        var id = <?php echo $id;?>;
        var uid = <?php  echo $uid;?>;
    $.ajax({
        url:'/api/api/product_detail/id/'+id+'/uid'+uid,
        type:'get',
        dataType:'json',
        async:'ture',
        success:function(res){
            if(res.status!=200){
                alert(res.msg);
            }else{
                
            }
        }
    })
    
    </script>
    
</body>
</html>