<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
	<form action="<?php echo SERVER_DOMAIN;?>/admin/member/editPassword" method="post" class="form form-horizontal" id="form-change-password">
            <input type='hidden' name="userid" value="<?php echo $res['userid']?>"/>
            <input type='hidden' name="encrypt" value="<?php echo $res['encrypt']?>"/>
            <input type='hidden' name="password" value="<?php echo $res['password']?>"/>
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-4"> <?php echo $res['nickname']?> </div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-4">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入输入密码" name="new-password" id="new-password" datatype="*6-18" errormsg="请输入输入密码！">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-4">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入输入密码" name="new-password2" id="new-password2" recheck="new-password" datatype="*" errormsg="您两次输入的密码不一致！" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-8 col-offset-4">
				
                                <button id="save_submit" class="btn btn-primary radius" type="button">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/layer/1.9.3/layer.js"></script> <!--弹出提示插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/Validform/5.3.2/Validform.min.js"></script> <!--判断插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.admin.js"></script>
<script>

$('#save_submit').click(function(){
    save();
})

function  save(){
    var demo = $("#form-change-password").Validform({
        callback:function(data){
                
			if(data.status==200){
                                 $.Showmsg(data.msg);
				setTimeout(function(){
					$.Hidemsg();
                                        var index = parent.layer.getFrameIndex(window.name);
                                        parent.layer.close(index);
				},2000);
			}else{
                                $.Showmsg(data.msg);
                        }
	}
    });
    
    demo.ajaxPost();
    
}

</script>
</body>
</html>
