<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c"> 日期范围：
                <input type="text" onfocus="WdatePicker({maxDate: '#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({minDate: '#F{$dp.$D(\'logmin\')}', maxDate: '%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;">
                 
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员电话" id="userPhone" name="userPhone">
		<button type="submit" class="btn btn-success radius" name="search" id="search"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="mt-20">
	 <table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr class="text-c">
				<th width="20"></th>
				<th width="50">ID</th>
                                <th width="100">等级</th>
				<th>用户名</th>
				<th width="50">可用金额</th>
				<th width="90">手机</th>
				<th width="130">加入时间</th>
				<th width="40">状态</th>
				<th width="80">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
                            
<!--				<td><input type="checkbox" value="1" name=""></td>
				<td>1</td>
                                <td>新手会员</td>
				<td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u></td>
				<td>25.00</td>
				<td>13000000000</td>
				<td>2014-6-11 11:11:42</td>
				<td class="td-status"><span class="label label-success radius">已启用</span></td>
				<td class="td-manage">
                                    <a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                    <a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','change-password.html','10001','600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>
                                    <a title="账目明细" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe63a;</i></a>
                                </td>-->
			
                        </tr>
		</tbody>
	</table>
	</div>
</div>


<script type="text/javascript">
    var  table;
    $(function () {
       table =  $('.table-sort').dataTable({
            "processing": true,
            "serverSide": true,
           "pagingType":   "full_numbers",
            ajax: {
                url: '/admin/member/member_list',
                data: function ( d ) {
                   //添加额外的参数传给服务器
                    d.time_start = $('#logmin').val();
                   d.time_end = $('#logmax').val();
                   d.phone = $('#userPhone').val();
                   d.modelid = 1;
               },
                dataType: 'json',
            },
            columns: [
                {"data": null},
                {"data": "userid"},
                {"data": null,'class':'text-l'},
                {"data": null,'class':'text-l'},
                {"data": "money"},
                {"data": "phone"},
                {"data": "regdate"},
                {"data": "islock",'class':'td-status'},
                {"data": null,'class':' td-manage'},
            ],
            "columnDefs": [//自定义列
                {
                    "targets": 0, //第一列
                    "data": "userid",
                    "render": function (data, type, row) {
                        var html = '';
                        return html;
                    }
                },
                {
                    "targets": 2, 
                    "data": "name",
                    "render": function (data, type, row) {
                        var html = row.name;
                        return html;
                    }
                },
                {
                    "targets": 3, 
                    "data": "nickname",
                    "render": function (data, type, row) {
                        if(row.nickname==''){
                            var  nickname ='空';
                        }else{
                            var nickname = row.nickname;
                        }
                        var html = '<u style="cursor:pointer" class="text-primary" onClick="member_show(\'查看详情\','+row.userid+',\'600\',\'600\')" title="查看">'+nickname+'</u>';
                        return html;
                    }
                },
                    
                {
                    "targets": 6, 
                    "data": "regdate",
                    "render": function (data, type, row) {
                        var html = "<span >"+getLocalTime(row.regdate)+"</span>";
                        return html;
                    }
                },
                {
                    "targets": 7, 
                    "data": "islock",
                    "render": function (data, type, row) {
                        if(row.islock == 1){//不启用
                            var html = "<span class='label label-defaunt radius'>关闭</span>";
                        }else if(row.islock == 0){//显示
                             var html = "<span class='label label-success radius'>启用</span>";
                        }
                        return html;
                    }
                },
                {
                    "targets": -1, //最后一列
                    "data": "islock",
                    "render": function (data, type, row) {
                        if(row.islock ==0){//启用
                            var html ='<a style="text-decoration:none" onClick="member_stop(this,'+row.userid+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>&nbsp;';
                        }else if(row.islock ==1){//关闭
                            var html ='<a style="text-decoration:none" onClick="member_start(this,'+row.userid+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>&nbsp;';
                        }
                            html+='<a style="text-decoration:none" class="ml-5" onClick="change_password(\'修改密码\','+row.userid+',\'600\',\'270\')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>&nbsp;';
                            html+='<a title="账目明细" href="javascript:;" onclick="money_info(this,'+row.userid+')" style="text-decoration:none"><i class="Hui-iconfont">&#xe63a;</i></a>';
                        return html;
                    }
                },
            ],
        });
    })
    
    $("#search").click(function(){ 
          table.fnDraw();
    });
    
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
            
            $.ajax({
                url:'/admin/member/member_stop',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if(data.status == 200){
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                        $(obj).remove();
                        layer.msg('已停用!',{icon: 5,time:1000});
                        
                    }else{
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                }
            })  
                
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
            
            $.ajax({
                url:'/admin/member/member_start',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(data){
                    if(data.status == 200){
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!',{icon: 6,time:1000});
                       
                    }else{
                        layer.msg(data.msg, {icon: 6, time: 1000});
                    }
                }
            })
                
	});
}

/*用户-查看*/
function member_show(title,id,w,h){
        var url='/admin/member/showUserInfo/userid/'+id;
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,id,w,h){
        var url='/admin/member/changePassword/userid/'+id;
	layer_show(title,url,w,h);	
}

    /*资金详情*/
    function money_info(obj,id) {
        var url ='/admin/member/memberMoneyInfo/userid/'+id;
        var index = layer.open({
            type: 2,
            title: '资金详情',
            content: url
        });
        layer.full(index);
    }

</script> 

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>
