
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--><title>用户查看</title>
</head>
<body>
    
<div class="cl pd-20" style=" background-color:#5bacb6">
    <img class="avatar size-XL l" alt="没有头像" src="<?php  echo getavatar($res['userid']);?>">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18"><?php echo $res['nickname'];?></span> <span class="pl-10 f-12">账户余额：<?php echo $res['money']?></span><span class="pl-10 f-12">账户积分：<?php echo $res['point']?></span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">电话: <?php echo $res['phone']?></dd>
  </dl>
</div>
    
<div class="pd-20">
  <table class="table">
    <tbody  >
      
      <tr>
        <th class="text-r" width="150">实名认证身份证号：</th>
        <td><?php echo $attesta_identity;?></td>
      </tr>
      <tr>
        <th class="text-r">绑定支付宝账号：</th>
        <td><?php echo $attesta_alipay;?></td>
      </tr>
      <?php 
        $receives = string2array($res['receives']);
      ?>
      <tr>
        <th class="text-r">联系地址：</th>
        <td><?php echo @$receives['r_address'];?></td>
      </tr>
      <tr>
        <th class="text-r">联系人：</th>
        <td><?php echo @$receives['r_name'];?></td>
      </tr>
      <tr>
        <th class="text-r">联系方式：</th>
        <td><?php echo @$receives['r_phone'];?></td>
      </tr>
      
      <tr>
        <th class="text-r">订单关闭(0)：</th>
        <td><?php echo $order_count['zero'];?></td>
      </tr>
      <tr>
        <th class="text-r">待填写订单号(2)：</th>
        <td><?php echo $order_count['two'];?></td>
      </tr>
      
      <tr>
        <th class="text-r">待审核订单号(3)：</th>
        <td><?php echo $order_count['three'];?></td>
      </tr>
      <tr>
        <th class="text-r">审核未无效订单号(4)：</th>
        <td><?php echo $order_count['four'];?></td>
      </tr>
      <tr>
        <th class="text-r">申诉中订单(6)：</th>
        <td><?php echo $order_count['six'];?></td>
      </tr>
      <tr>
        <th class="text-r">订单完成(7)：</th>
        <td><?php echo $order_count['seven'];?></td>
      </tr>
      
      <tr>
        <th class="text-r" >注册时间：</th>
        <td><?php echo date('Y/m/d H:i:s',$res['regdate'])?></td>
      </tr>
      <tr>
        <th class="text-r">注册ip：</th>
        <td><?php echo $res['regip']?></td>
      </tr>
      <tr>
        <th class="text-r">最近登陆时间：</th>
        <td><?php echo date('Y/m/d H:i:s',$res['lastdate'])?></td>
      </tr>
      <tr>
        <th class="text-r">最近登陆IP：</th>
        <td><?php echo $res['lastip']?></td>
      </tr>
      <tr>
        <th class="text-r">登陆次数：</th>
        <td><?php echo $res['loginnum']?></td>
      </tr>
    </tbody>
  </table>
    
</div>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.admin.js"></script>
</body>
</html>