<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>
<div class="pd-20">
    <form action="<?php echo SERVER_DOMAIN;?>/admin/banner/bannerPost" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" value="<?php echo isset($res['id'])?$res['id']:0;?>"/>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-10">
                            <input type="text" class="input-text" value="<?php echo @$res['title']?>" datatype="*5-50" errormsg="文章标题5~50个字符" placeholder="文章标题5~50个字符"  name="title" />
			</div>
		</div>
		<div class="row cl">
                    	<label class="form-label col-2">排序值：</label>
			<div class="formControls col-1">
				<input type="text" class="input-text" datatype="n" nullmsg="请输入排序值" value="<?php echo isset($res['listorder'])?$res['listorder']:0;?>" placeholder="数字越小越靠前,最小0"  name="sort">
			</div>
			<label class="form-label col-2">首页显示：</label>
			<div class="formControls col-1 skin-minimal">
				<select name="basic" id ="basic" class="select">
                                        <option value="1" <?php if(!isset($res['basic']) || @$res['basic'] == 1){echo 'selected';} ?>>PC</option>
					<option value="2" <?php if(@$res['basic'] == 2){echo 'selected';} ?>>APP</option>
				</select>
			</div>
			<label class="form-label col-2">URL：</label>
			<div class="formControls col-3">
                            <input type="text" class="input-text" value="<?php echo isset($res['url'])?$res['url']:'imbaichi.com';?>"  datatype="*" placeholder="" name="article_sources">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-2">Banner图：</label>
			<div class="formControls col-10">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
                                            <img id="img" style="width:320px;height: 120px;" name="img" src="<?php echo @$res['image']?>" alt="等待上传图片">
                                            <input type="hidden" datatype="*" nullmsg="请上传banner图" id="file_img" name="file_img" value="<?php echo @$res['image']?>"/>
					</div>
                                        <input type="file" id="filePicker" class="" onchange="readFile(this)" />
				</div>
			</div>
		</div>
        
		<div class="row cl">
			<label class="form-label col-2">开始日期：</label>
			<div class="formControls col-2">
                            <input type="text"  name ="datemin" value="<?php echo isset($res['starttime'])?date('Y-m-d H:i:s',$res['starttime']):date('Y-m-d H:i:s',time());;?>" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate">
			</div>
			<label class="form-label col-2">结束日期：</label>
			<div class="formControls col-2">
				<input type="text" name="datemax" value="<?php echo isset($res['endtime'])?date('Y-m-d H:i:s',$res['endtime']):date('Y-m-d H:i:s',time());;?>" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}'})" id="datemax" class="input-text Wdate">
			</div>
		</div>
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button id="article_save_submit" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">

//html5上传图片    
function readFile(obj){
        var file = obj.files[0]; 	
        //判断类型是不是图片
        if(!/image\/\w+/.test(file.type)){   
                alert("请确保文件为图像类型"); 
                return false; 
        } 
        var reader = new FileReader(); 
        reader.readAsDataURL(file); 
        reader.onload = function(e){ 
        	$('#img').attr('src',this.result);
                $('#file_img').val(this.result);
        } 
}

$('#article_save_submit').click(function(){
    save();
})

function  save(){
    
    var demo = $("#form-article-add").Validform({
        callback:function(data){
			if(data.status==200){
				setTimeout(function(){
					$.Hidemsg();
                    window.location.href="/admin/banner";
				},2000);
			}else{
                $.Showmsg(data.msg);
            }
	}
    });
    
    demo.ajaxPost();
    
}


</script>

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>