body{
    margin: 0px;
    font-family: "微软雅黑";
}
.main{
    width: 6.40rem;
    margin: 0.00rem;
}

.box{
    font-size: 0;
    position: relative;
}

.dash-line{
    height: 0.04rem;
    border-bottom: 2px dotted #d1d1d1;
}

.clear{
    clear: both;
}

.item-image-box{

}

.item-image-box img{
    width: 6.40rem;
    display: block;
}

.inner-main{
    padding: 0.01rem 0.20rem 0.00rem 0.20rem;
}

.item-title-box h1{
    color:#313131;
    font-size: 0.32rem;
    margin: 0.20rem auto;
}

.market-price{
    color: #313131;
    font-size: 0.28rem;
}

.cur-price{
    color: #ff9900;
    font-size: 0.28rem;
    font-weight: 600;
}

.baichi-promotion{
    color: #fff;
    background-color: #ff9900;
    font-size: 0.24rem;
    border-radius: 5px;
    padding: 0.10rem;
}

.garentee-box{
    background-image: url(../img/garentee_bg.png);
    height: 0.60rem;
    background-size: 100%;
}

.rmb-icon{
    display: inline-block;
    width: 0.27rem;
    height: 0.31rem;
    background-image: url(../img/rmb.png);
    background-size: 100%;
}

.garentee-info{
    color: #818181;
    font-size: 0.24rem;
}

.detail-box p{
    color: #808080;
    font-size: 0.24rem;
}

.sales-volume{
    color: #4c4c4c;
    font-size: 0.24rem;
}

.cur-volume{
    color: #4c4c4c;
    font-size: 0.26rem;
}

.cur-volume b{
    color: #ff9900;
    font-weight: 400;
}

.brand-box{
    background-image: url(../img/shop_bg.png);
    height: 0.98rem;
    background-size: 100%;
}

.brand-icon{
    display: inline-block;
    background-size: 100%;
    border-radius: 0.30rem;
    width: 0.60rem;
    height: 0.60rem;
}

.brand-name{
    color: #333;
    font-size: 0.30rem;
}

.start-time{
    color: #333;
    font-size: 0.24rem;
}

.time-box{
    background-image: url(../img/time_bg.png);
    background-repeat: repeat-x;
    background-position: center;
    text-align: center;
}

.time-inner-box{
    display: inline-block;
    padding: 0.00rem 0.10rem;
    background-color: #fff;
    margin: 0.00rem auto;
}

.time-inner-box span{
    font-size: 0.24rem;
    color: #333;
}

.time-inner-box span strong{
    padding: 0.05rem 0.10rem;
    background-color: #ccc;
}

.baichi-user-title-box h2{
    color: #686868;
    font-size: 0.30rem;
    font-weight: 600;
    text-align: center;
}

.baichi-user-title-box h2 b{
    color: #ff9900;
}

.user-avatar{
    display: block;
    width: 0.80rem;
    height: 0.80rem;
    background-size: 100%;
    border-radius: 0.40rem;
    margin:0.10rem 0.10rem;
    float: left;
}

.show-rule-box{
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.show-rule-box span{
    font-size: 0.32rem;
    color: #383838;
}

.show-baichi-rule{
    font-size: 0.24rem;
    color: #383838;
}

.procedure-box{
    background-color: #f0f0f0;
    font-size: 0.24rem;
    color: #666;
}

.procedure-number{
    display: inline-block;
    background-image: url(../img/circile.png);
    background-size: 100%;
    width: 0.44rem;
    height: 0.44rem;
    text-align: center;
    line-height: 0.44rem;
    vertical-align: top;
    position: relative;
    top: 0.20rem;
    margin-right: 0.08rem;
}

.procedure-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 0.15rem;
}

.procedure-block:last-child{
    margin-right: 0.00rem;
    padding-top: 0.20rem;
}

.procedure-block p{
    margin: 0.05rem 0.00rem;
}

.buy-button,.baichi-button{
    display: inline-block;
    width: 3.20rem;
    height: 0.90rem;
    line-height: 0.90rem;
    text-align: center;
    font-size: 0.32rem;
}

.buy-button{
    background-color: #dbdbdb;
    color: #4c4c4c;
}

.baichi-button{
    background-color: #ff9900;
    color: #fff;
}

.alert-box{
    position: fixed;
    top: 0.0320rem;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 80%;
    padding: 20px 30px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    line-height: 1.6em;
}
