<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>
<link rel="stylesheet" href="<?php echo STATIC_DOMAIN.'/web/lib/bdPlayer/src/css/smusic.css'?>"/>
<div style="text-align: center">
    	<?php
	echo $content, " I am ", $name;
	?>
</div>
<div class="kePublic">
<!--效果html开始-->
<div class="grid-music-container f-usn">
    <div class="m-music-play-wrap">
        <div class="u-cover"></div>
        <div class="m-now-info">
            <h1 class="u-music-title"><strong>标题</strong><small>歌手</small></h1>
            <div class="m-now-controls">
                <div class="u-control u-process">
                    <span class="buffer-process"></span>
                    <span class="current-process"></span>
                </div>
                <div class="u-control u-time">00:00/00:00</div>
                <div class="u-control u-volume">
                    <div class="volume-process" data-volume="0.50">
                        <span class="volume-current"></span>
                        <span class="volume-bar"></span>
                        <span class="volume-event"></span>
                    </div>
                    <a class="volume-control"></a>
                </div>
            </div>
            <div class="m-play-controls">
                <a class="u-play-btn prev" title="上一曲"></a>
                <a class="u-play-btn ctrl-play play" title="暂停"></a>
                <a class="u-play-btn next" title="下一曲"></a>
                <a class="u-play-btn mode mode-list current" title="列表循环"></a>
                <a class="u-play-btn mode mode-random" title="随机播放"></a>
                <a class="u-play-btn mode mode-single" title="单曲循环"></a>
            </div>
        </div>
    </div>
    <div class="f-cb">&nbsp;</div>
    <div class="m-music-list-wrap"></div>
</div>
<script src="<?php echo STATIC_DOMAIN.'/web/lib/bdPlayer/src/js/smusic.min.js'?>"></script>
<script>
var musicList = [
	{
		title : '中华民谣',
		singer : '孙浩',
		cover  : 'http://p4.music.126.net/Bodj032lHXSl64Kf5d3Pnw==/64871186054750.jpg',
		src    : 'http://m2.music.126.net/4RoHcn0xucmtFSkNi_qJ9Q==/2801555627576537.mp3'
	},
	{
		title : '窗外',
		singer : '李琛',
		cover  : 'http://p3.music.126.net/JxXhatYIkSx6GVblUp7mlA==/116548232550370.jpg',
		src    : 'http://m2.music.126.net/CVNK-yEs8NQR6U22y_q9Iw==/2061584302111448.mp3'
	},
];
new SMusic({
	musicList:musicList
});
</script>
<!--效果html结束-->
<div class="clear"></div>
</div>  
        
        
        
<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>

