<?php include(dirname(dirname(__FILE__))).'/common/header.phtml';?>
<div class="pd-20">
    <form action="<?php echo SERVER_DOMAIN;?>/admin/notice/noticePost" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" value="<?php echo isset($res['announceid'])?$res['announceid']:0;?>"/>
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-10">
                            <input type="text" class="input-text" value="<?php echo @$res['title']?>" datatype="*5-50" errormsg="标题5~50个字符" placeholder="标题5~50个字符"  name="title" />
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-2">排序值：</label>
			<div class="formControls col-2">
				<input type="text" class="input-text" datatype="n" nullmsg="请输入排序值" value="<?php echo isset($res['listorder'])?$res['listorder']:0;?>" placeholder="数字越小越靠前,最小0"  name="sort">
			</div>
			<label class="form-label col-2">开始日期：</label>
			<div class="formControls col-2">
                            <input type="text"  name ="datemin" value="<?php echo isset($res['starttime'])?date('Y-m-d H:i:s',$res['starttime']):date('Y-m-d H:i:s',time());;?>" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate">
			</div>
			<label class="form-label col-2">结束日期：</label>
			<div class="formControls col-2">
				<input type="text" name="datemax" value="<?php echo isset($res['endtime'])?date('Y-m-d H:i:s',$res['endtime']):date('Y-m-d H:i:s',time());;?>" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}'})" id="datemax" class="input-text Wdate">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-2">文章内容：</label>
			<div class="formControls col-10">
                                <?php  
                                    if(isset($res['content'])){
                                        $content = $res['content'];
                                    }else{
                                        $content = '';
                                    }
                                ?>
				<script id="editor"  type="text/plain"  name="content" style="width:100%;height:400px;"><?php echo $content;?></script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button id="article_save_submit" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</div>

<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/umeditor.min.js"></script>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor-upyun/lang/zh-cn/zh-cn.js"></script>


<!--    <script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败
    这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文
    <script type="text/javascript" charset="utf-8" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->

<script type="text/javascript">
    
    $(function(){
        //编辑器使用    
            UM.getEditor('editor');
            //UE.getEditor('editor');
        //编辑器是否为空
    });
    //编辑器是否为空
    function hasContent() {
        var info = UM.getEditor('editor').hasContents();
        //var info = UE.getEditor('editor').hasContents();
        return info;
    }


$('#article_save_submit').click(function(){
    save();
})

function  save(){

        var datemin = $('#datemin').val();
        var datemax = $('#datemax').val();
        if(datemin==''|| datemax==''){
            layer.alert('请设置开始和结束时间!');
            return false;
        }
    
    var content_info = hasContent();
    if(content_info == false){
        layer.alert('文章内容不能为空!');
        return false;
    }
    
    var demo = $("#form-article-add").Validform({
        callback:function(data){
			if(data.status==200){
				setTimeout(function(){
					$.Hidemsg();
                    window.location.href="/admin/notice";
				},2000);
			}else{
                $.Showmsg(data.msg);
            }
	}
    });
    
    demo.ajaxPost();
    
}


</script>

<?php include(dirname(dirname(__FILE__))).'/common/footer.phtml';?>