
@font-face {font-family: "Hui-iconfont";
  src: url('./iconfont.eot'); /* IE9*/
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff') format('woff'), /* chrome、firefox */
  url('./iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfont.svg#Hui-iconfont') format('svg'); /* iOS 4.1- */
}

.Hui-iconfont {
  font-family:"Hui-iconfont" !important;

  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.Hui-iconfont-gotop:before { content: "\e684"; }
.Hui-iconfont-music:before { content: "\e60f"; }
.Hui-iconfont-tags:before { content: "\e64b"; }
.Hui-iconfont-pad:before { content: "\e64c"; }
.Hui-iconfont-lunzi:before { content: "\e64d"; }
.Hui-iconfont-jiandao:before { content: "\e64e"; }
.Hui-iconfont-xianshiqi:before { content: "\e64f"; }
.Hui-iconfont-zhaoxiangji:before { content: "\e650"; }
.Hui-iconfont-danfanxiangji:before { content: "\e651"; }
.Hui-iconfont-dayinji:before { content: "\e652"; }
.Hui-iconfont-user-zhanzhang:before { content: "\e653"; }
.Hui-iconfont-chajian:before { content: "\e654"; }
.Hui-iconfont-arrow1-bottom:before { content: "\e674"; }
.Hui-iconfont-arrow1-left:before { content: "\e678"; }
.Hui-iconfont-arrow1-top:before { content: "\e679"; }
.Hui-iconfont-arrow1-right:before { content: "\e67a"; }
.Hui-iconfont-jieri:before { content: "\e655"; }
.Hui-iconfont-face-weixiao:before { content: "\e656"; }
.Hui-iconfont-face-chijing:before { content: "\e657"; }
.Hui-iconfont-face-dai:before { content: "\e658"; }
.Hui-iconfont-face-shuaku:before { content: "\e659"; }
.Hui-iconfont-face-mogui:before { content: "\e65a"; }
.Hui-iconfont-face-ganga:before { content: "\e65b"; }
.Hui-iconfont-face-qin:before { content: "\e65c"; }
.Hui-iconfont-face-nu:before { content: "\e65d"; }
.Hui-iconfont-face-zhayan:before { content: "\e65e"; }
.Hui-iconfont-face-shengqi:before { content: "\e65f"; }
.Hui-iconfont-face-ma:before { content: "\e660"; }
.Hui-iconfont-face-bishi:before { content: "\e661"; }
.Hui-iconfont-face-maimeng:before { content: "\e662"; }
.Hui-iconfont-face-jingdai:before { content: "\e663"; }
.Hui-iconfont-face-yun:before { content: "\e664"; }
.Hui-iconfont-home2:before { content: "\e67f"; }
.Hui-iconfont-search2:before { content: "\e665"; }
.Hui-iconfont-share2:before { content: "\e666"; }
.Hui-iconfont-face:before { content: "\e668"; }
.Hui-iconfont-wuliu:before { content: "\e669"; }
.Hui-iconfont-dianpu:before { content: "\e66a"; }
.Hui-iconfont-chexiao:before { content: "\e66b"; }
.Hui-iconfont-zhongzuo:before { content: "\e66c"; }
.Hui-iconfont-zan:before { content: "\e66d"; }
.Hui-iconfont-cai:before { content: "\e66e"; }
.Hui-iconfont-yuyin3:before { content: "\e66f"; }
.Hui-iconfont-cart2-selected:before { content: "\e670"; }
.Hui-iconfont-weizhi:before { content: "\e671"; }
.Hui-iconfont-face-ku:before { content: "\e688"; }
.Hui-iconfont-down:before { content: "\e640"; }
.Hui-iconfont-cart2-man:before { content: "\e672"; }
.Hui-iconfont-card2-kong:before { content: "\e673"; }
.Hui-iconfont-luyin:before { content: "\e619"; }
.Hui-iconfont-html:before { content: "\e69f"; }
.Hui-iconfont-css:before { content: "\e6a0"; }
.Hui-iconfont-android:before { content: "\e6a2"; }
.Hui-iconfont-github:before { content: "\e6d1"; }
.Hui-iconfont-html5:before { content: "\e6d2"; }
.Hui-iconfont-huangguan:before { content: "\e6d3"; }
.Hui-iconfont-news:before { content: "\e616"; }
.Hui-iconfont-slider-right:before { content: "\e63d"; }
.Hui-iconfont-slider-left:before { content: "\e67d"; }
.Hui-iconfont-tuku:before { content: "\e613"; }
.Hui-iconfont-shuru:before { content: "\e647"; }
.Hui-iconfont-sanjiao:before { content: "\e67e"; }
.Hui-iconfont-share-renren:before { content: "\e6d8"; }
.Hui-iconfont-share-tweibo:before { content: "\e6d9"; }
.Hui-iconfont-arrow2-left:before { content: "\e6d4"; }
.Hui-iconfont-paixu:before { content: "\e675"; }
.Hui-iconfont-niming:before { content: "\e624"; }
.Hui-iconfont-add:before { content: "\e600"; }
.Hui-iconfont-root:before { content: "\e62d"; }
.Hui-iconfont-xuanzhong:before { content: "\e676"; }
.Hui-iconfont-weixuanzhong:before { content: "\e677"; }
.Hui-iconfont-arrow2-bottom:before { content: "\e6d5"; }
.Hui-iconfont-arrow2-top:before { content: "\e6d6"; }
.Hui-iconfont-like2:before { content: "\e648"; }
.Hui-iconfont-arrow2-right:before { content: "\e6d7"; }
.Hui-iconfont-share-weixin:before { content: "\e694"; }
.Hui-iconfont-shenhe-tingyong:before { content: "\e631"; }
.Hui-iconfont-gouxuan2:before { content: "\e601"; }
.Hui-iconfont-selected:before { content: "\e617"; }
.Hui-iconfont-jianhao:before { content: "\e6a1"; }
.Hui-iconfont-user-group:before { content: "\e62b"; }
.Hui-iconfont-yiguanzhu:before { content: "\e680"; }
.Hui-iconfont-comment:before { content: "\e622"; }
.Hui-iconfont-tongji-zhu:before { content: "\e618"; }
.Hui-iconfont-like:before { content: "\e649"; }
.Hui-iconfont-shangjia:before { content: "\e6dc"; }
.Hui-iconfont-save:before { content: "\e632"; }
.Hui-iconfont-gongsi:before { content: "\e643"; }
.Hui-iconfont-system:before { content: "\e62e"; }
.Hui-iconfont-pifu:before { content: "\e62a"; }
.Hui-iconfont-msg:before { content: "\e62f"; }
.Hui-iconfont-userid:before { content: "\e602"; }
.Hui-iconfont-cang-selected:before { content: "\e630"; }
.Hui-iconfont-yundown:before { content: "\e641"; }
.Hui-iconfont-help:before { content: "\e633"; }
.Hui-iconfont-chuku:before { content: "\e634"; }
.Hui-iconfont-picture:before { content: "\e646"; }
.Hui-iconfont-ad:before { content: "\e635"; }
.Hui-iconfont-fenlei:before { content: "\e681"; }
.Hui-iconfont-saoyisao:before { content: "\e682"; }
.Hui-iconfont-search:before { content: "\e683"; }
.Hui-iconfont-tuwenxiangqing:before { content: "\e685"; }
.Hui-iconfont-leijipingjia:before { content: "\e686"; }
.Hui-iconfont-hetong:before { content: "\e636"; }
.Hui-iconfont-tongji:before { content: "\e61a"; }
.Hui-iconfont-quanbudingdan:before { content: "\e687"; }
.Hui-iconfont-cang:before { content: "\e61b"; }
.Hui-iconfont-xiaoxi:before { content: "\e68a"; }
.Hui-iconfont-renwu:before { content: "\e637"; }
.Hui-iconfont-more:before { content: "\e68b"; }
.Hui-iconfont-zhizhao:before { content: "\e638"; }
.Hui-iconfont-fabu:before { content: "\e603"; }
.Hui-iconfont-shenhe-butongguo2:before { content: "\e6dd"; }
.Hui-iconfont-share-qq:before { content: "\e67b"; }
.Hui-iconfont-upload:before { content: "\e642"; }
.Hui-iconfont-add2:before { content: "\e604"; }
.Hui-iconfont-jiesuo:before { content: "\e605"; }
.Hui-iconfont-zhongtumoshi:before { content: "\e68c"; }
.Hui-iconfont-datumoshi:before { content: "\e68d"; }
.Hui-iconfont-face2:before { content: "\e68e"; }
.Hui-iconfont-huanyipi:before { content: "\e68f"; }
.Hui-iconfont-shijian:before { content: "\e690"; }
.Hui-iconfont-feedback:before { content: "\e691"; }
.Hui-iconfont-feedback2:before { content: "\e692"; }
.Hui-iconfont-share-pengyouquan:before { content: "\e693"; }
.Hui-iconfont-zan2:before { content: "\e697"; }
.Hui-iconfont-arrow3-bottom:before { content: "\e698"; }
.Hui-iconfont-arrow3-top:before { content: "\e699"; }
.Hui-iconfont-arrow3-right:before { content: "\e69a"; }
.Hui-iconfont-arrow3-left:before { content: "\e69b"; }
.Hui-iconfont-more2:before { content: "\e69c"; }
.Hui-iconfont-cang2-selected:before { content: "\e69d"; }
.Hui-iconfont-cang2:before { content: "\e69e"; }
.Hui-iconfont-dangan:before { content: "\e639"; }
.Hui-iconfont-money:before { content: "\e63a"; }
.Hui-iconfont-share-weibo:before { content: "\e6da"; }
.Hui-iconfont-email:before { content: "\e63b"; }
.Hui-iconfont-tongji-xian:before { content: "\e61c"; }
.Hui-iconfont-bank:before { content: "\e628"; }
.Hui-iconfont-home:before { content: "\e625"; }
.Hui-iconfont-user:before { content: "\e62c"; }
.Hui-iconfont-log:before { content: "\e623"; }
.Hui-iconfont-pages:before { content: "\e626"; }
.Hui-iconfont-sim:before { content: "\e629"; }
.Hui-iconfont-dengdai:before { content: "\e606"; }
.Hui-iconfont-user-add:before { content: "\e607"; }
.Hui-iconfont-file:before { content: "\e63e"; }
.Hui-iconfont-share-douban:before { content: "\e67c"; }
.Hui-iconfont-share-zhihu:before { content: "\e689"; }
.Hui-iconfont-daochu:before { content: "\e644"; }
.Hui-iconfont-daoru:before { content: "\e645"; }
.Hui-iconfont-weigouxuan2:before { content: "\e608"; }
.Hui-iconfont-phone:before { content: "\e696"; }
.Hui-iconfont-manage2:before { content: "\e63c"; }
.Hui-iconfont-edit:before { content: "\e6df"; }
.Hui-iconfont-del2:before { content: "\e609"; }
.Hui-iconfont-avatar:before { content: "\e60a"; }
.Hui-iconfont-del:before { content: "\e60b"; }
.Hui-iconfont-edit1:before { content: "\e60c"; }
.Hui-iconfont-apple:before { content: "\e64a"; }
.Hui-iconfont-xiajia:before { content: "\e6de"; }
.Hui-iconfont-manage:before { content: "\e61d"; }
.Hui-iconfont-user2:before { content: "\e60d"; }
.Hui-iconfont-share-qzone:before { content: "\e6c8"; }
.Hui-iconfont-suoding:before { content: "\e60e"; }
.Hui-iconfont-tel2:before { content: "\e6a3"; }
.Hui-iconfont-order:before { content: "\e627"; }
.Hui-iconfont-shujutongji:before { content: "\e61e"; }
.Hui-iconfont-del3:before { content: "\e6e2"; }
.Hui-iconfont-add3:before { content: "\e610"; }
.Hui-iconfont-add4:before { content: "\e61f"; }
.Hui-iconfont-key:before { content: "\e63f"; }
.Hui-iconfont-yuyin2:before { content: "\e6a4"; }
.Hui-iconfont-yuyin:before { content: "\e6a5"; }
.Hui-iconfont-close:before { content: "\e6a6"; }
.Hui-iconfont-xuanze:before { content: "\e6a7"; }
.Hui-iconfont-xuanzhong1:before { content: "\e6a8"; }
.Hui-iconfont-yiguanzhu1:before { content: "\e6a9"; }
.Hui-iconfont-share:before { content: "\e6aa"; }
.Hui-iconfont-zhuanfa:before { content: "\e6ab"; }
.Hui-iconfont-tianqi-duoyun:before { content: "\e6ac"; }
.Hui-iconfont-tianqi-mai:before { content: "\e6ad"; }
.Hui-iconfont-tianqi-qing:before { content: "\e6ae"; }
.Hui-iconfont-tianqi-wu:before { content: "\e6af"; }
.Hui-iconfont-tianqi-xue:before { content: "\e6b0"; }
.Hui-iconfont-tianqi-yin:before { content: "\e6b1"; }
.Hui-iconfont-tianqi-yu:before { content: "\e6b2"; }
.Hui-iconfont-daipingjia:before { content: "\e6b3"; }
.Hui-iconfont-vip-card2:before { content: "\e6b4"; }
.Hui-iconfont-jifen:before { content: "\e6b5"; }
.Hui-iconfont-youhuiquan:before { content: "\e6b6"; }
.Hui-iconfont-hongbao:before { content: "\e6b7"; }
.Hui-iconfont-cart-selected:before { content: "\e6b8"; }
.Hui-iconfont-cart-kong:before { content: "\e6b9"; }
.Hui-iconfont-jiangjia:before { content: "\e6ba"; }
.Hui-iconfont-liwu:before { content: "\e6bb"; }
.Hui-iconfont-caiqie:before { content: "\e6bc"; }
.Hui-iconfont-xuanzhuan:before { content: "\e6bd"; }
.Hui-iconfont-bigpic:before { content: "\e6be"; }
.Hui-iconfont-list:before { content: "\e6bf"; }
.Hui-iconfont-middle:before { content: "\e6c0"; }
.Hui-iconfont-hot:before { content: "\e6c1"; }
.Hui-iconfont-paishe:before { content: "\e6c2"; }
.Hui-iconfont-hot1:before { content: "\e6c3"; }
.Hui-iconfont-new:before { content: "\e6c4"; }
.Hui-iconfont-xiaoxi1:before { content: "\e6c5"; }
.Hui-iconfont-canshu:before { content: "\e6c6"; }
.Hui-iconfont-tel:before { content: "\e6c7"; }
.Hui-iconfont-dingwei:before { content: "\e6c9"; }
.Hui-iconfont-hongbao2:before { content: "\e6ca"; }
.Hui-iconfont-2code:before { content: "\e6cb"; }
.Hui-iconfont-vip:before { content: "\e6cc"; }
.Hui-iconfont-tishi:before { content: "\e6cd"; }
.Hui-iconfont-dingyue:before { content: "\e6ce"; }
.Hui-iconfont-yulan:before { content: "\e695"; }
.Hui-iconfont-usergroup2:before { content: "\e611"; }
.Hui-iconfont-goods:before { content: "\e620"; }
.Hui-iconfont-paixingbang:before { content: "\e6cf"; }
.Hui-iconfont-kefu:before { content: "\e6d0"; }
.Hui-iconfont-picture1:before { content: "\e612"; }
.Hui-iconfont-weigouxuan:before { content: "\e614"; }
.Hui-iconfont-shenhe-weitongguo:before { content: "\e6e0"; }
.Hui-iconfont-shenhe-tongguo:before { content: "\e6e1"; }
.Hui-iconfont-tongji-bing:before { content: "\e621"; }
.Hui-iconfont-gouxuan:before { content: "\e615"; }
