			
		</div>
	</div>
</section>

<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/js/H-ui.admin.js"></script>

<script type="text/javascript">

function getLocalTime(nS) {     
   return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
} 


		function getTime() {
			var now= new Date(),
			h=now.getHours(),
			m=now.getMinutes(),
			s=now.getSeconds();
			return (h+":"+m+":"+s);
		}


	function go_logout(){
		$.ajax({
			url:'/login/logout',
			type:'post',
                        dataType:'json',
			success:function(data){
				if(data.status==0){
				    window.location.href="/login";
				}else{
                                    layer.alert(data.msg);
                                }
			}
		})
	}

</script>

<script type="text/javascript">
/*资讯-添加*/
function article_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
</script> 

</body>
</html>