<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />

<!--[if lt IE 9]>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/html5.js"></script>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/respond.min.js"></script>
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/PIE_IE678.js"></script>
<![endif]-->

<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/skin/default/skin.css" rel="stylesheet" type="text/css"/>
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<link href="<?php echo STATIC_DOMAIN;?>/admin/sources/css/style.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/layer/1.9.3/layer.js"></script> <!--弹出提示插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/My97DatePicker/WdatePicker.js"></script><!--时间插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/Validform/5.3.2/Validform.min.js"></script> <!--判断插件-->
<script type="text/javascript" src="<?php echo STATIC_DOMAIN;?>/admin/sources/lib/datatables/1.10.0/jquery.dataTables.js"></script> <!--表格解决方案-->

<title>后台管理</title>
<meta name="keywords" content="php,yaf,php框架,yaf框架,yafdemo">
<meta name="description" content="goyaf框架是在yaf框架的基础上完善的一个框架">
</head>
<body>
<header class="Hui-header cl"> <a class="Hui-logo l" title="goyaf" href="/">GOYAF</a><span class="Hui-subtitle l">V1.0</span>
	<nav class="mainnav cl" id="Hui-nav">
		<ul>
			<li class="dropDown dropDown_click"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
				<ul class="dropDown-menu radius box-shadow">
                                    	<li><a href="javascript:;" onclick="article_add('添加公告','<?php echo SERVER_DOMAIN;?>/admin/notice/noticeAdd')"><i class="Hui-iconfont">&#xe613;</i> 公告</a></li>
					<li><a href="javascript:;" onclick="article_add('添加说说','<?php echo SERVER_DOMAIN;?>/admin/say/sayAdd')"><i class="Hui-iconfont">&#xe616;</i> 说说</a></li>
					<li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
					<li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<ul class="Hui-userbar">
		<li>超级管理员</li>
		<li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
			<ul class="dropDown-menu radius box-shadow">
				<li><a href="javascript:void(0)" onclick="go_logout();" >退出</a></li>
			</ul>
		</li>
		<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">0</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
	</ul>
	<a aria-hidden="false" class="Hui-nav-toggle" href="#"></a>
</header>

<?php include(dirname(dirname(__FILE__))).'/common/sidebar.phtml';?>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
                            <li class="active"><span title="我的桌面" data-href="">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>