<aside class="Hui-aside">
<!--	<input runat="server" id="divScrollValue" type="hidden" value="" />-->
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                                <li><a  href="<?php echo SERVER_DOMAIN;?>/admin/notice">公告管理</a></li>
                                <li><a  href="<?php echo SERVER_DOMAIN;?>/admin/say">说说管理</a></li>
                                <li><a  href="<?php echo SERVER_DOMAIN;?>/admin/article/catetype">分类管理</a></li>
                                <li><a  href="<?php echo SERVER_DOMAIN;?>/admin/article">文章管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a  href="<?php echo SERVER_DOMAIN;?>/admin/banner">Banner管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="<?php echo SERVER_DOMAIN;?>/admin/product/brand">品牌管理</a></li>
					<li><a href="<?php echo SERVER_DOMAIN;?>/admin/product/category" >分类管理</a></li>
					<li><a href="<?php echo SERVER_DOMAIN;?>/admin/product/index">产品管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-page">
			<dt><i class="Hui-iconfont">&#xe626;</i> 页面管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="page-home.html" href="javascript:void(0)">首页管理</a></li>
					<li><a _href="page-flinks.html" href="javascript:void(0)">友情链接</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="http://h-ui.duoshuo.com/admin/" href="javascript:;">评论列表</a></li>
					<li><a _href="feedback-list.html" href="javascript:void(0)">意见反馈</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-order">
			<dt><i class="Hui-iconfont">&#xe63a;</i> 财务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="order-list.html" href="javascript:void(0)">订单列表</a></li>
					<li><a _href="recharge-list.html" href="javascript:void(0)">充值管理</a></li>
					<li><a _href="invoice-list.html" href="javascript:void(0)">发票管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>    
                                        <li><a href="<?php echo SERVER_DOMAIN;?>/admin/member/memberCate">会员类型</a></li>
					<li><a href="<?php echo SERVER_DOMAIN;?>/admin/member/memberList">管理会员</a></li>
                                        
                                        <li><a _href="member-level.html" href="javascript:;">商家类型</a></li>
					<li><a _href="member-list.html" href="javascript:;">管理商家</a></li>
                                        
                                        <li><a _href="member-record-share.html" href="javascript:void(0)">实名认证审核</a></li>
                                        <li><a _href="member-record-share.html" href="javascript:void(0)">品牌认证审核</a></li>
                                        
					<li><a _href="member-del.html" href="javascript:;">删除的会员</a></li>
					<li><a _href="member-scoreoperation.html" href="javascript:;">积分管理</a></li>
					<li><a _href="member-record-browse.html" href="javascript:void(0)">浏览记录</a></li>
					<li><a _href="member-record-download.html" href="javascript:void(0)">下载记录</a></li>
					<li><a _href="member-record-share.html" href="javascript:void(0)">分享记录</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="admin-role.html" href="javascript:void(0)">角色管理</a></li>
					<li><a _href="admin-permission.html" href="javascript:void(0)">权限管理</a></li>
					<li><a _href="admin-list.html" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="charts-1.html" href="javascript:void(0)">折线图</a></li>
					<li><a _href="charts-2.html" href="javascript:void(0)">时间轴折线图</a></li>
					<li><a _href="charts-3.html" href="javascript:void(0)">区域图</a></li>
					<li><a _href="charts-4.html" href="javascript:void(0)">柱状图</a></li>
					<li><a _href="charts-5.html" href="javascript:void(0)">饼状图</a></li>
					<li><a _href="charts-6.html" href="javascript:void(0)">3D柱状图</a></li>
					<li><a _href="charts-7.html" href="javascript:void(0)">3D饼状图</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="<?php echo SERVER_DOMAIN;?>/admin/setting">系统设置</a></li>
                                        <li><a href="<?php echo SERVER_DOMAIN;?>/admin/setting/score">积分任务</a></li>
					<li><a _href="system-category.html" href="javascript:void(0)">栏目管理</a></li>
					<li><a _href="system-data.html" href="javascript:void(0)">数据字典</a></li>
					<li><a _href="system-shielding.html" href="javascript:void(0)">屏蔽词</a></li>
					<li><a _href="system-log.html" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>